In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
# Declare a Base using `automap_base()`
base = automap_base()
# Use the Base class to reflect the database tables
base.prepare(autoload_with=engine)
# Create the inspector and connect it to the engine
inspector = inspect(engine)
conn = engine.connect()

In [ ]:
# reflect an existing database into a new model

# reflect the tables

In [5]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [6]:
# Save references to each table
measurement = base.classes.measurement
station = base.classes.station

In [7]:
# Using the inspector to print the column names within the 'measurement' table and its types
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [8]:
# Using the inspector to print the column names within the 'station' table and its types
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [34]:
# measurement = pd.read_sql("SELECT * FROM measurement", conn)
# measurement = measurement.sort_values(["date"], ascending=False)
# measurement.head()

          id      station        date  prcp  tobs
19549  19550  USC00516128  2017-08-23  0.45  76.0
7634    7635  USC00514830  2017-08-23  0.00  82.0
12186  12187  USC00519523  2017-08-23  0.08  82.0
2723    2724  USC00519397  2017-08-23  0.00  81.0
19548  19549  USC00516128  2017-08-22  0.50  76.0

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [10]:
# Find the most recent date in the data set.
session.query(measurement.date).order_by(measurement.date.desc()).first()

('2017-08-23',)

In [30]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.
# Calculate the date one year from the last date in data set.
# Perform a query to retrieve the data and precipitation scores
# Save the query results as a Pandas DataFrame and set the index to the date column
precipitation = session.query(measurement.date, measurement.prcp).filter(measurement.date < '2017-08-23').\
filter(measurement.date > '2016-08-23').order_by(measurement.date.desc()).all()


data = pd.read_sql(session, conn)

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

ObjectNotExecutableError: Not an executable object: <sqlalchemy.orm.session.Session object at 0x00000233336B5A00>

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()